@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout ------------------------------------------------------------------- */
@media only screen and (min-width: 601px) {
  #app {
    display: grid;
    grid-template-columns:
      20vw 20vw 1fr;
    grid-template-rows: 
      100vh;
    max-height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {

}